@import "tailwindcss";

@theme {
    --color-carbon: #172122;
    --color-forest-600: #212a29;
    --color-forest-500: #2a3330;
    --color-forest-400: #3d443e;
    --color-olive-600: #64675a;
    --color-olive-500: #7a7a6c;
    --color-olive-400: #8f8d7e;
    --color-tan-600: #bab2a2;
    --color-tan-500: #C9C3B7;
    --color-tan-400: #D8D4CC;
    --color-tan-300: #E7E5E1;
    --color-ivory: #f5f5f5;
}

:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;

  background-color: var(--color-carbon);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}