:root {
    --page-bg: #172122;
    --olive: #3d443e;
    --: #64675a;
    --grey-olive: #9e9e94;
    --khaki-beige: #bab2a2;
    --white: #f5f5f5;

    --font-stack: 'Courier New', Courier, monospace;
}